@import "tailwindcss";

@theme {
  --color-primary: #008081;
  --color-secondary: #81B641;
  --color-background-light: #FFFFFF;
  --color-background-dark: #0f172a;
  --color-background-surface: #f3f3f4;
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(241, 245, 249, 0.5);
  }
  .dark ::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: #008081;
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #81B641;
    background-clip: content-box;
  }
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #008081 rgba(241, 245, 249, 0.5);
}
.dark .scrollbar {
  scrollbar-color: #008081 rgba(15, 23, 42, 0.5);
}

html {
  color-scheme: light;
  background: white;
}
